[submodule "awesome-copycats"]
	path = awesome-copycats
	url = https://github.com/copycat-killer/awesome-copycats.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = https://github.com/lervag/vim-latex.git
